{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>SAI INDUSTRIES</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Favicons -->
    <link href="{% static 'sai/img/favicon.png' %}" rel="icon">
    <link href="{% static 'sai/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'sai/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'sai/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'sai/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'sai/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'sai/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'sai/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'sai/css/style.css' %}" rel="stylesheet">



</head>

<!--Banner Images -->
<!-- =======
<div id="page-content">

    <section class="banner window-height" id="home">

        <div class="banner-video bg-stretch">
            <span class="color-overlay black"></span>
            <video src="{% static 'sai/video/Home-Page.mp4' %}" autoplay="" muted="" loop=""></video>
        </div>


        <div class="banner-caption text-center">
            <div class="container">

                <div class="inner-wrap">

                    <h1 class="brand-heading large">International Aerospace Manufacturing</h1>
                    <span class="sub-title">Excellence In All We Do</span>
                </div>
            </div>
        </div>
        <a href="#services" class="scroll-indicator light" title="Scoll Down">
            <span class="arrow arrow-1 ti-angle-down"></span>
            <span class="arrow arrow-2 ti-angle-down"></span>
        </a>
    </section>
</div>
-->